 
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <!-- <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Admin Home</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">Login</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> ...:::: End Breadcrumb Section:::... -->

<section>
    <div class="container">
        <div class="row">
            <ul class="offcanvas-cart-action-button">
                <li><a href="/admin/productview"  class="btn btn-block btn-aqua mt-5 p-5">View Products</a></li>
                <li><a href="/admin/usermanagement" class=" btn btn-block btn-aqua mt-5 p-5">View Customers</a></li>
                <li><a href="/admin/categorymanagement" class=" btn btn-block btn-aqua mt-5 p-5">Category Management</a></li>
            </ul>
            
        </div>
    </div>
</section> 