 
 <!-- ...:::: Start Customer Login Section :::... -->
 <div class="customer-login">
    <div class="container">
        <div class="row">
               <!--register area start-->
               <div class="col-lg-6 col-md-6">
                <div class="account_form register" data-aos="fade-up" data-aos-delay="200">
                    <h3>Login</h3>
                    <form id="loginform">
                        <div class="default-form-box">
                            <label>Admin Name <span>*</span></label>
                            <input type="text" name="adminname">
                            <div class="adminname error"></div>
                        </div>
                        <div class="default-form-box">
                            <label>Password <span>*</span></label>
                            <input type="password" name="password">
                            <div class="password error"></div>
                        </div>
                        <div class="login_submit">
                            <button class="btn btn-md btn-black-default-hover" type="submit">Log In</button>
                        </div>
                    </form>
                    <a href="/admin/adminsignup">Create a new account</a>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->



<script>

    const form = document.querySelector('#loginform')
    
    const adminnameError = document.querySelector(".adminname.error")  
    const passwordError = document.querySelector(".password.error") 
    
    
    form.addEventListener("submit", async (e) => { 
        e.preventDefault()
    
         //reset errors
        adminnameError.textContent = ""
        passwordError.textContent = ""
    
    
         //get the values
            const adminname = form.adminname.value; 
            const password = form.password.value;   
    
           try {
            console.log('his')
            const result = await fetch("/admin/adminlogin", {   
                method : "post",
                body : JSON.stringify({ adminname, password }),
                headers : { "Content-Type" : "application/json" }
            })
            const data = await result.json()    
            console.log(data );
            if(data.errors) {
                adminnameError.textContent = data.errors.adminname
                passwordError.textContent = data.errors.password
            }
            if (data.admin){
                location.assign("/admin")
            }
           } 
           catch(err){ 
            console.log(err + " hai errors");     
           } 
    
        })
    
    </script>
