


<div class="empty-cart-section section-fluid">
    <div class="emptycart-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 col-xl-6 offset-xl-3">
                    <div class="emptycart-content text-center">
                        <div class="image">
                            <img class="img-fluid" src="https://img.freepik.com/premium-vector/fast-delivery-package-by-scooter-mobile-phone-order-package-e-commerce-by-app-tracking-courier-by-map-application-three-dimensional-concept-vector-illustration_176350-3.jpg?w=1380" alt="">
                        </div>
                        <h6 class="title" style="color:green ;">Orderded Succesfully</h6>
                        <h4 class="sub-title">Sit back and relax as your order is on it's way</h4>
                        <a href="/vieworderdetails" class="btn btn-lg btn-green">View Order Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>